*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root {
--primaria:#4f46e5;
--secundaria:#7c3aed;
--escuro:#0f172a;
--maisEscuro:O#0a0f1c;
--claro:#e2e8f0;
--vidro:rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
}

@keyframes flutuar {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.background-efeito{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:-1;
}

.background-efeito span{
  position:absolute;
  width:400px;
  height:400px;
  border-radius:50%;
  filter: blur(120px);
  animation: mover 20s infinite alternate ease-in-out;
}

.background-efeito span:nth-child(1){
  background: #6d5cff;
  top:10%;
  left:5%;
}

.background-efeito span:nth-child(2){
  background: #4f46e5;
  top:60%;
  left:70%;
  animation-delay:5s;
}

.background-efeito span:nth-child(3){
  background: #8b5cf6;
  top:40%;
  left:30%;
  animation-delay:10s;
}

@keyframes mover{
  0%{
    transform: translate(0,0) scale(1);
  }
  100%{
    transform: translate(100px,-150px) scale(1.2);
  }
}


