:root {
--primaria:#4f46e5;
--secundaria:#7c3aed;
--escuro:#0f172a;
--maisEscuro:O#0a0f1c;
--claro:#e2e8f0;
--vidro:rgba(255, 255, 255, 0.1);
}

.contatos{
padding: 6rem 2rem;
}
.contatos-titulo{
text-align: center;
font-size: 2.5rem;
margin-bottom: 50px;
}

.formulario-contato{
max-width: 600px;
margin: 0 auto;
background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(5px);
padding: 2rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 16px;
}

.grupo-form{
 margin-bottom: 1.5rem;
}

.campo-form{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    outline: none;
}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 299, 0.5);
}

.botao-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
    
}
