.main-input{
    background-color: #1A936F ;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #114B5F;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}
